

* {
    color: black;
    background: transparent;
    font-size: 12pts;
    font-family: serif;
  }

  @page {
    margin: 0.5in;
  }

  nav {
    display: none;
  }

  a {
    text-decoration: none;
  }

  #skills, #areas {
    float: left;
    margin-right: 0.5in;
    display: inline-block;
  }

/*
#roles,#education, #work, .box, footer {
  position: relative;
  top: 1in;
}

.box {
  overflow: auto;
}

#areas {
  margin-right: 2.0cm;
  margin-left: 1.32cm;}*/
