@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700|Lora|Old+Standard+TT:700);

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Lora', serif;
  color: rgb(109,109,109);
  height: 100%;
  }

#laura{
  position: absolute;
  bottom: 0;
  right: 20%;
}

#mobile{
  display: none; /* display: block; */
}

header {
  margin-top: 5%;
  margin-left: 5.4em;
  padding-top: 4px;

}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 4em;
  border-bottom: 1px solid #ccc;
  background: white;
  z-index:1;

}

nav ul{
  padding: 0;
  list-style:none;
}


nav ul li {
  display: inline-block;
  border-right: 1px solid #ccc;
  margin-right: 3em;
  padding-right: 3em;
  font-family: 'Old Standard TT', serif;
  font-size: 18px;
}



  a,
  a:link{
    color: rgb(22,23,25);
    text-decoration: none;
  }

  a:visited {
    color: rgb(251,209,242);
    }

  a:hover,
  a:focus{
    color: rgb(109,109,109);
    transition: color .30s ease-in;
  }


#container {
      background: rgba(255,255,255,0.6);
      width: 400px;
      margin: 10em;
      position: relative;
      left:-90px;
      bottom: 30px;
      padding-left: 30px;
      padding-right: 15px;
      border: 3px dashed #ccc;
      }

h1 {
    position: relative;
    right: 20px;
    font-family: 'Old Standard TT', serif;
    font-size: 40px;
    }


#text{
    color: grey;
    font-size: 16px;
    margin-left: 3.2%;
    position: relative;
    left: 20px;
  }

#text p{
  width: 450px;
}

#text img {
    height: 350px;
    width: 275px;
    padding-right: 200px;
    margin-left: 1em;
    float: right;}

h2{
    font-family: 'Old Standard TT', serif;
    position: relative;
    left: 53px;
}



.headshots{
  width: 164px;
  height: 246px;
  position: relative;
  left: 50px;
  margin-left:5px;
  margin-right:5px;
}


.performances{
  width: 251px;
  height: 250px;
  position: relative;
  left: 49px;
  margin-left: 6px;
  margin-right: 6px;
}

.video1{
  position: relative;
  left: 49px;
  margin-left: 6px;
  margin-right: 6px;
  display: inline-block;}

.video2{
  position: relative;
  left: 49px;
  margin-left: 6px;
  margin-right: 6px;
  display: inline-block;
}

#contact{
  position: relative;
  left: 53px;
  font-size: 20px;
}


main#resume{
  width: 550px;
}

main#resume table{
  position: relative;
  left: 53px;
}

main#resume ul{
  position: relative;
  left: 53px;
}
